---
layout: default
title: Home
---

<h3 id="hello">Hello.</h3>
<p>I like music, films, travelling and most things computer related. This here's a blog.</p>


{% for post in site.posts %}
<li class="post-header-list-item"> <span class="post-arrows">&raquo;</span> <a class="post-title" href="{{ post.url }}">{{ post.title }}</a> <span class="post-arrows">&raquo; {{ post.date | date_to_string }}</span> 
  <p> {{ post.content }} </p>

  {% if post.comments == true %}
	<a class="comments-load" onclick="loadDisqus($(this), '{{post.title}}', '{{post.comments-url-tag}}');">
		Show comments
	</a>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
	</noscript>
  {% endif %}

</li>
<hr/>
{% endfor %}