<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Donal Farrell - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ page.root }}/stylesheets/purecss.grids.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ page.root }}/icons/favicon/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ page.root }}/icons/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ page.root }}/icons/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ page.root }}/icons/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ page.root }}/icons/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ page.root }}/icons/favicon/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ page.root }}/icons/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ page.root }}/icons/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ page.root }}/icons/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ page.root }}/icons/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ page.root }}/icons/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ page.root }}/icons/favicon/favicon-72.png">
    <link rel="apple-touch-icon" href="favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ page.root }}/icons/favicon/favicon-144.png">
    <meta name="msapplication-config" content="{{ page.root }}/icons/favicon/browserconfig.xml">
  </head>
  <body>
    <div class="pure-g-r header">
        <a href="/" id="myName">Donal Farrell</a> <span id="slash">/</span> <span id="tag">Manila; London; Dublin; Belfast</span>
    </div>

    <div class="pure-g-r main-content">
      <div class="pure-u-1-4 nav">
        <p class="menu-header">Links</p>
        <p class="link-item">
          <a href="{{ page.root }}/cv/DonalFarrell-CV.pdf">
            <img class="link-img" id="aboutme" src="{{ page.root }}/icons/disqus/disqus-48.png" alt="AboutMe">
            <span class="link-text">About Me / CV</span>
          </a>
        </p>
        <p class="link-item">
          <a href="https://github.com/donskifarrell">
            <img class="link-img" id="github" src="{{ page.root }}/icons/github/github-48.png" alt="GitHub">
            <span class="link-text">GitHub Repositories</span>
          </a>
        </p>
        <p class="link-item">
          <a href="http://uk.linkedin.com/pub/donal-farrell/24/9ab/643/">
            <img class="link-img" id="linkedin"
                  src="{{ page.root }}/icons/linkedin/linkedin-48.png" alt="LinkedIn">
            <span class="link-text">LinkedIn profile</span>
          </a>
        </p>
        <p class="link-item">
          <a href="http://stackoverflow.com/users/351847/donal">
            <img class="link-img" id="stack" src="{{ page.root }}/icons/stackoverflow/stackoverflow-48.png" alt="StackOverflow">
            <span class="link-text">StackOverflow profile</span>
          </a>
        </p>
        <p class="link-item">
          <a href="mailto:donal@donalfarrell.com">
            <img class="link-img" id="email" src="{{ page.root }}/icons/email/email-48.png" alt="Email">
            <span class="link-text">donal@donalfarrell.com</span>
          </a>
        </p>
        <p class="link-item">
          <a href="https://www.polygonstar.com/">
            <img class="link-img" id="polygonstar" src="{{ page.root }}/icons/polygonstar/polygonstar-48.png" alt="PolygonStar">
            <span class="link-text">PolygonStar</span>
          </a>
        </p>

        <hr/>

      </div>

      <div class="pure-u-1-2 main">
        {{ content }}
      </div>
    </div>

    <div class="pure-g-r footer">
        <hr />
        <p>This blog is maintained at <a href="https://github.com/donskifarrell">donskifarrell</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme taken from the <a href="http://git-scm.com/">official Git</a> page</small></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ page.root }}/javascripts/disqus.js"></script>
    <script src="{{ page.root }}/javascripts/scale.fix.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31342764-1']);
      _gaq.push(['_setDomainName', 'donalfarrell.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
