<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Donal Farrell - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ page.root }}/stylesheets/purecss.grids.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="pure-g-r header">
        <span id="myName">Donal Farrell</span> <span id="slash">/</span> <span id="tag">Born in Belfast; working in London</span>
    </div>

    <div class="pure-g-r main-content">
      <div class="pure-u-1-4 nav">
          <p>Thirds</p>
      </div>

      <div class="pure-u-1-2 main"> 
        {{ content }}
      </div>
    </div>

    <div class="pure-g-r footer">
        <hr />
        <p>This blog is maintained at <a href="https://github.com/donskifarrell">donskifarrell</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme taken from the <a href="http://git-scm.com/">official Git</a> page</small></p>
    </div>

    <script src="{{ page.root }}/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31342764-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
