---
layout: default
---

<span class="post-arrows">&raquo;</span> <a class="post-title" href="{{ post.url }}">{{ page.title }}</a> <span class="post-arrows">&raquo; {{ page.date | date_to_string }}</span> 

{{ content }}

{% if page.comments == true %}
	<a class="comments-load" onclick="loadDisqus($(this), '{{page.title}}', '{{page.comments-url-tag}}');">
		Show comments
	</a>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
	</noscript>
{% endif %}
